@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');

.search-bar-wrapper {
  border-bottom: 1px solid #3333;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}
.search-form {
  width: 150px;
  font-size: 14px;
  background-color: #AFAFAF;
  border: solid 1px rgba(var(--b6a,219,219,219),1);
  border-radius: 3px;
}
.search-form input {
  text-align: center;
  color: #262626;
}
.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 2.5rem;
  border-right: 1px solid black;
}

.logo-wrapper {
  display: flex;
}

.brand-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  
}

.brand-wrapper > span {
  font-family: 'Grand Hotel', cursive;
  font-size: 2rem;
}

.logo-image {
  width: 5rem;
  height: 100%;
}

.social-wrapper {
  display: flex;
  width: 10rem;
  justify-content: space-between;
}

.social {
  width: 5rem;
}
